@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
   font-family: 'Dela Gothic';
   src: url(../fonts/DelaGothicOne-Regular.ttf);
   font-weight: normal;
   font-style: normal;
}