@font-face {
  font-display: swap;
  font-family: "Dela Gothic";
  src: url(../fonts/DelaGothicOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
