html,
body {
  position: relative;
  font-family: "Dela Gothic One", sans-serif;
  background: url(../images/bg.webp) center no-repeat fixed, #333333;
  color: #eaf2b2;
  height: 100%;
  @media (max-width: 768px) {
    background: url(../images/bgmob.png) center no-repeat fixed, #333333;
  }
}

.container {
  max-width: $containerWidth + px;
  margin: 0 auto;
  padding: 0 $containerPadding + px;
}
@media (max-width: 768px) {
  input,
  select {
    font-size: 16px;
  }
}
